#cocotte {
  position: relative;
  padding-bottom: 600px;
}

.title.cocotte {
  grid-column: col-start 3 / span 2;
  grid-row: 17;
}

.description.cocotte {
  grid-column: col-start 3 / span 6;
  grid-row: 18;
}

.cocotte-item1 {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 285px;
  z-index: -2;
}

.cocotte-item2 {
  position: absolute;
  top: 120px;
  left: -50px;
  width: 241px;
  z-index: -1;
}

.cocotte-item3 {
  position: absolute;
  top: 520px;
  left: 180px;
  width: 223px;
}

.cocotte-item4 {
  position: absolute;
  top: 640px;
  left: 0px;
  width: 385px;
  z-index: -1;
}

@media (min-width: 420px) {
  #cocotte {
    padding-bottom: 660px;
  }

  .cocotte-item1 {
    width: 399px;
  }
  
  .cocotte-item2 {
    top: 157px;
    left: -140px;
    width: 337px;
  }
  
  .cocotte-item3 {
    left: 180px;
    width: 312px;
  }
  
  .cocotte-item4 {
    left: -140px;
    width: 539px;
  }
}

@media (min-width: 750px) {
  #cocotte {
    padding-bottom: 880px;
  }

  .cocotte-item1 {
    width: 519px;
  }
  
  .cocotte-item2 {
    left: -264px;
    width: 438px;
  }
  
  .cocotte-item3 {
    left: 374px;
    width: 405px;
  }
  
  .cocotte-item4 {
    width: 700px;
  }
}