#freepour {
  position: relative;
  padding: 150px 0 50px 0;
}

.title.freepour {
  text-align: center;
  margin: 0 32px 0 32px;
}

.description.freepour p {
  margin: auto;
  width: 250px;
  padding: 24px 0 24px 0;
}

.freepour-item1 {
  width: 260px;
}