#leduc {
  position: relative;
  padding-bottom: 300px;
}

.title.leduc {
  grid-column: col-start 2 / span 3;
  grid-row: 18;
}

.description.leduc {
  grid-column: col-start 7 / span 6;
  grid-row: 17;
}

.leduc-item1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 396px;
  z-index: -2;
}

.leduc-item2 {
  position: absolute;
  top: 440px;
  left: 136px;
  width: 265px;
  z-index: -2;
}

.leduc-item3 {
  position: absolute;
  top: 475px;
  left: -32px;
  width: 195px;
  z-index: -1;
}

@media (min-width: 420px) {
  #leduc {
    padding-bottom: 412px;
  }

  .title.leduc {
    grid-row: 22;
  }
  
  .description.leduc {
    grid-column: col-start 7 / span 6;
    grid-row: 23;
  }

  .leduc-item1 {
    width: 554px;
  }
  
  .leduc-item2 {
    top: 574px;
    left: 56px;
    width: 371px;
  }
  
  .leduc-item3 {
    top: 453px;
    left: -164px;
    width: 273px;
  }
}

@media (min-width: 750px) {
  #leduc {
    padding-bottom: 638px;
  }

  .description.leduc {
    grid-row: 25;
  }

  .leduc-item1 {
    width: 720px;
  }
  
  .leduc-item2 {
    top: 672px;
    left: 83px;
    width: 482px;
  }
  
  .leduc-item3 {
    top: 506px;
    left: -204px;
    width: 354px;
  }
}