#notifiq {
  position: relative;
  padding: 150px 0 100px 0;
}

.title.notifiq, .description.notifiq {
  text-align: center;
  margin: 0 32px 0 32px;
}

.description.notifiq p {
  margin: auto;
  width: 250px;
  padding: 24px 0 24px 0;
}

.notifiq-item1 {
  width: 294px;
}