#alcyon {
  position: relative;
  padding-bottom: 150px;
}

.title.alycon {
  grid-column: col-start 2 / span 3;
  grid-row: 3;
}

.description.alycon {
  grid-column: col-start 2 / span 6;
  grid-row: 30;
}

.alcyon-item1 {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 280px;
}

.alcyon-item2 {
  position: absolute;
  top: 280px;
  left: 0;
  width: 265px;
}

.alcyon-item3 {
  position: absolute;
  top: 424px;
  left: 100px;
  width: 317px;
  z-index: -1;
}