.break {
  background-color: #FFDCCC;
  padding: 68px 0 68px 0;
  margin-bottom: 124px;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 65% 10%;
}

.item1 {
  text-align: center;
  margin: auto;
}

.item2 {
  padding-left: 16px;
}