/*button css*/

/* .btn-blue {
  text-decoration: none;
  text-shadow: none;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #9ddfd3;
  padding: 12px 18px;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  font-weight: lighter;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #31326f;
} */
