/*card css*/

/* .cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card {
  padding: 20px;
  border: 1px solid #9ddfd3;
  width: 250px;
  text-align: center;
}

.card img {
  height: 100px;
}

.card p {
  font-size: 14px;
}

.card h3 {
  font-size: 18px;
  text-decoration: underline #9ddfd3;
} */
