.contact-info {
  padding: 80px;
  text-align: center;
}

.footer {
  padding: 32px;
  text-align: center;
}

.footer p {
  font-size: 11px;
  margin: 0;
  padding-top: 32px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline a {
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

.list-inline a:hover {
  color: #FFDCCC;
}

.links-top {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .links-top {
    display: block;
  }

  .links-top h3 {
    display: none;
  }
}