.project {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  max-width: 370px;
}

.project h1,
.project-dev h1 {
  text-transform: uppercase;
  margin: 0;
}

.project p {
  margin: 0;
}

.project-dev {
  background-color: #FFDCCC;
}

@media (min-width: 420px) {
  .project {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    max-width: 50%;
    margin: auto;
  }
}